* {
    background-color: royalblue;
}

h1 {
    font-size: 100px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: lightyellow;
    text-shadow: mediumblue 5px 5px;
    word-spacing: 0.05em;
    letter-spacing: 0.02em;
}

* {
    filter: grayscale(100%);
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    -ms-filter: grayscale(100%);
    -o-filter: grayscale(100%);
}